body {
  font-family: Verdana, sans-serif;

  margin: 0;

  color: #333;
}

header {
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  background-color: #efefef;
}

.container {
  display: flex;
  align-items: center;
  /* background-color: pink; */

  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  /* background-color: skyblue; */
}

.icon img {
  border-width: 8px;
  border-style: solid;
  border-color: white;
  /* border-radius: 20px; */
  border-radius: 50%;
}

.info {
  /* background-color: tomato; */
  margin-left: 32px;
}

.info h1 {
  font-size: 24px;
  font-weight: normal;

  margin: 0;
}

.info p {
  margin: 0;
  margin-bottom: 16px;
}

.info ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.info ul li {
  margin-right: 8px;
}

.works {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.works > h1 {
  font-size: 24px;
  font-weight: normal;

  margin-top: 60px;
  margin-bottom: 60px;

  text-align: center;
}

.works > section {
  margin-bottom: 60px;
}

.works > section > h1 {
  font-weight: normal;
}

.works p {
  line-height: 1.8;
}

.works a {
  font-size: 14px;

  display: block;

  padding: 12px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border-radius: 4px;
  background: #08c;
}

.works a:hover {
  opacity: .8;
}

footer p {
  font-size: 14px;

  margin-bottom: 60px;

  text-align: center;

  color: gray;
}
